{% extends "base_site.html" %}

{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>A Site Fit for a Golden God!</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>One Stunning Photo.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <div>
    <img src="/static/images/ethan_tanen.jpg" style="width:55%; height:20%; border-radius:5%"  onclick="onClick(this)" alt="Oh Me Oh My! What a handsome guy!">
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- About Me -->
  <div class="w3-container" id="services" style="margin-top:75px; width: 70%">
    <h1 class="w3-xxxlarge w3-text-red"><b>About Me.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Hello! I'm Ethan Tanen, more commonly known as "Master Blaster, King of Disaster"! If I'm
      not coding up something saucy, I'm either making sweet music for a sad world, navigating
      perilous whitewater, cooling with DC's elite or preparing a meal that not even Gordon Ramsay
      could scoff at.
    </p>
    <p>Welcome to my website! The navigation bar includes links to my resume and a series of
      coding projects worth sharing. Enjoy!
    </p>
  </div>

  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>This portion if the site is not yet functional...Come back soon!</p>
    <p>Feel free to contact me if your looking for work, have a job opportunity or just want to
    say wassup! </p>

    <form action="/search" method="get">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>
  </div>

<!-- End page content -->
</div>
{% endblock %}
