{% extends "base_site.html" %}

{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Projects</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Coming soon...</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
<!-- End page content -->
</div>

<div class="container">
  <div class="row">

    <!-- Greatest Commond Divisor -->
    <div class="col-md-5 col-md-offset-2">
      <div class="well">
        <form >

          <!-- Enter ID -->
          <div class="input-group">
            <h4 class="text-center"> Greatest Common Divisor </h4>
            <div class="col-sm-4">
              <span class="input-group-addon  "> a </span>
              <input id="a" type="text" class="form-control" name="a" placeholder="input a">
            </div>

            <div class="col-sm-4">
              <span class="input-group-addon">b</span>
              <input id="b" type="text" class="form-control" name="b" placeholder="input  b">
            </div>

            <div class="col-sm-4">
              <span class="input-group-addon">gcd(a,b)</span>
              <input id="gcd" type="text" class="form-control" name="gcd" placeholder="?">
            </div>
          </div>



            <br>

          <!-- Submit Form -->
          <button type="submit" class="btn btn-success center-block">Submit</button>
        </form>
      </div>
    </div>
    <!-- End GCD -->

    <!-- Something else -->
    <!-- Greatest Commond Divisor -->
    <div class="col-md-5">
      <div class="well">

          <!-- Enter ID -->
          <h4> Prime Factorization </h4>
          <div class="input-group">
            <span class="input-group-addon  "> 	&nbsp &nbsp ID  	&nbsp 	&nbsp</span>
            <input id="id" type="text" class="form-control" name="id" placeholder="copy and paste id">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input id="name" type="text" class="form-control" name="name" placeholder="input name and extension">
          </div>
          <br>

          <!-- Submit Form -->
          <button type="button" class="btn btn-success" id="gcd">Submit</button>
      </div>


  </div>
</div>




{% endblock %}
